<div class="row">
  <div class=" col-lg-4">
    <div class="landing-block">
      <h2 class="text-info">Install PaaS</h2>
      <div class="text-center">
        <img class="img-responsive" src="images/openstack.png" alt="Install"><br>
      </div>
      <p class="lead">
        View PaaS installation instructions and try it.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="/install">Install!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
  </div>
  <div class=" col-lg-4 ">
    <div class="landing-block">
      <h2 class="text-info">Scale with PaaS</h2>
      <div class="text-center">
        <img class="img-responsive" src="images/scale.png" alt="Install"><br>
      </div>
      <p class="lead">
        Learn how to scale IaaS  with PaaS and try it.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="/scale">Scale!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
  </div>
  <div class=" col-lg-4">
    <div class="landing-block">
      <h2 class="text-info">Use It</h2>
      <div class="text-center">
        <img class="img-responsive" src="images/jenkins.jpg" alt="Install"><br>
      </div>
      <p class="lead">
        Learn how IaaS + PaaS help developers
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="/use">Explore!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
  </div>
</div>
